:root {
    /* THEME COLORS */
    --first-color: black;
    --second-color: white;
    --third-color: #8571AA;
    --multi-color: linear-gradient(-45deg, #e73c7e, #23a6d5);

    /* HOVER COLOR */
    --hover-color: #8571AA;

    /* BACKGROUND COLORS */
    --body-bg-color: #fefefe;
    --card-bg-color:  rgba(211, 211, 211, 0.7);;
    --modal-bg-color: white;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(0, 0, 0, 0.1);
    --line-color: #d7d7d7;


    /* COLOR FILTER */
    --color-filter: invert(1);

    /* BRIGHTNESS FILTER */
    --brightness-filter: 1;

    /* BOX SHADOW */
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /* FONT SIZE */
    --small-font-size: 0.9em;
    --normal-font-size: 1.0em;

    /* SCROLL BAR COLORS */
    /* --scroll-bar-color: #8571AA;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b; */

}

.html {
    overflow-x: hidden;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        color: #e73c7e;
    }
    25% {
        background-position: 50% 50%;
        color: #8571AA;
    }
    50% {
        background-position: 100% 50%;
        color: #23a6d5;
    }
    75% {
        background-position: 50% 50%;
        color: #8571AA;
    }
    100% {
        background-position: 0% 50%;
        color: #e73c7e
    }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1%;
    width: 100%;
    height: 50px;
    background: linear-gradient(-45deg, #e73c7e, #23a6d5);
    background-size: 400% 400%;
    animation: gradient 22s ease infinite;
    margin: none;   
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: lighter;
    font-size: medium;
    font-family: 'Open Sans', serif;
    color: var(--second-color);
    z-index: 10;
}

.header-left {
    width: 50%;
    color: var(--second-color);
    font-size: 1.4em;
    font-weight: 400;
    padding-left: 25px;
    font-family: 'Blippo', fantasy;
    font-family: 'Open Sans', serif;
}

.header-right {
   width: 50%;
   display: flex;
   justify-content: right;
   font-weight: 500; 
}

.header-right a {
    color: var(--second-color);
    margin-right: 25px;
}

.header-right a.active {
    color: var(--first-color);
}

.header-right a:hover {
    color: var(--first-color);
}

body {
    font-family: 'sans-serif';
    font-family: 'Open Sans', serif;
    background-color: var(--body-bg-color);
    width: 96%;
    padding: 2%;
    margin-top: 70px;
    overflow-x: hidden;
}

hr {
    height:15px;
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
    background-size: 400% 400%;
    animation: gradient 22s ease infinite;
    width: 106%;
    overflow-x: hidden;
    margin-left: -4%;
    border: none;
}

href {
    color: var(--second-color);
}

h2 {
    font-family: 'Open Sans', serif;
}

button {
    font-family: 'Open Sans', serif;
}

.text {
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', serif;
}

.secs {   
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', serif;
}

.purple {
    color: #8571AA;
}

.multi {
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

section {
    box-sizing: border-box;
    margin-bottom: 15px;
    font-family: 'Open Sans', serif;
}

section *{
    display: flex;   
}

.mypic {  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid  #8571AA;;
    border-width: 6px;
    margin-bottom: 25px;
}

.white {
    color: white;
    font-weight: lighter;
    font-size: medium;
    font-family: 'Open Sans', serif;
}

.name {
    font-weight: 600;
    font-size: 36pt;
    font-family: 'Open Sans', serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}

.first {
    color: var(--first-color);
    padding-right: .2em;
}

.last {
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    animation: gradient 5s ease infinite;
}

.about-mel {
    color: var(--first-color);
    margin-right: 15px;
    text-align: left;
    line-height: 2em;
}
 

.home-button {
    background: var(--multi-color);
    color: var(--first-color);
    height: 20px;
    width: 40px;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    border-radius: 25%;      
}

.home-button:hover{
    color: var(--second-color);    
}

.scroll-down {
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 20px;
}

.scroll-down i{
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
    margin-left: 5px;
}

@keyframes arrow-down {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.fa-linkedin, .fa-github, .fa-envelope {
    margin-bottom: 15px;
}

.apps {
    width: 98%;
    /* min-height: 70%; */

}

.apps * {
    margin: auto;

}
   

.app-description {
    width: 30%;
    display: flex;
    flex-direction: column;
    background: var(--card-bg-color);
    border-radius: 25px; 
    /* height: fit-content; */
    height: 600px;
    /* margin: 0; */
    margin-top: 35px;
    max-width: 300px;

}

.app-description * {
  margin: 0;
    
}

.app-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app-item .app-button{
    display: flex;
    flex-direction: column;
    color: var(--first-color);
    font-size: 16px;
    line-height: 60px;
    width: 100%;  
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}

.app-button:hover{
    background: none;
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: var(--first-color);
            -webkit-background-clip: none;
    background: var(--multi-color);
            -webkit-text-fill-color: none;
            -webkit-background-clip: none;
    color: var(--first-color);
    cursor: pointer;
}

.app-button-top:hover {
    border-radius: 25px 25px  0 0;
    
}

.app-button-bottom:hover {
    border-radius:  0 0 25px 25px ;
    
}

.app-button.nolight {   
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;        
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;   
}

.app-button.nolight:hover {   
    background: none;
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: var(--first-color);
            -webkit-background-clip: none;
    background: var(--multi-color);
            -webkit-text-fill-color: none;
            -webkit-background-clip: none;
    color: var(--first-color);
    cursor: pointer;
}

.app-button.highlight {
    background: none;
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: var(--first-color);
            -webkit-background-clip: none;
    background: var(--multi-color);
            -webkit-text-fill-color: none;
            -webkit-background-clip: none;
    color: var(--first-color);
    
}

.app-button.highlight:hover {
    cursor: auto;
}

.app-button-top{
    border-radius: 25px 25px  0 0;
}

.app-item .app-about{
    display: none;
    width: 98%;
    margin: 10px;
    color: var(--first-color);
}

.app-item  .show {
   display: block;
}

.app-item  .hide {
    display: none;
}
 
.app-about {
    display: flex;
}

.app-button {
    height: 3em;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.fa-caret-down {
    padding-top: 8%;
}

.app-item-top {
    display: flex;
    flex-direction: row;
}

.projects {
    min-height: 90vh;
}

.dininginformant {
    width: 100%;
    height: 700px;
    /* z-index: -10; */
}

.projects-left {
    display: flex;
    flex-direction: column;
}

.app-container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}

.app-show {
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.di1 {
    max-width: 300px;
    /* width: 250px; */
    height: fit-content;
    
    align-items: center;
    border-radius: 50px;
    filter: brightness(var(--brightness-filter));
    z-index: -100;
}

.ig1 {
    top: 0;
    
    /* height: fit-content; */
    height: 600px;
}

.zendog {
    margin-left: 2%;
    width: 100%;
}

.zd1 {
    width: 300%;
    max-width: 400px;
    height: fit-content;
    margin-right: 2%; 
}

.skills {
    min-height: 90vh;
}

.skills-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    width: 75px;
    color: var(--first-color);
    margin: auto;
}

.skills-icon {
    background-color: #8571AA;
    background: var(--multi-color);
    color: var(--first-color);
    height: 35px;
    width: 35px;
    font-size: x-large;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 25%;    
}

.coursework {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: large;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

.all-courses {
    display: flex;
    flex-direction: column;
}

span {
    height: fit-content;
    padding-right: 5px;
}

.course {
    width: 25%;
    flex-wrap: nowrap;
    max-height: 50px;
    color: var(--first-color);
}

.course span {
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}

.coursename {
    height: fit-content;
    padding-top: 3px;
}

#skills ul li {
    list-style-Type: none;
    padding: 0 0 4px 23px;
    background: url(https://www.computerhope.com/cdn/arrow.png) no-repeat left center;
    color: #8571AA;
}

.home {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
}

.home-top {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    min-height: 75vh;
    width: 100%;
    text-align: center;
}

.home-left {
    justify-content: center;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
}

.home-middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.home-right {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
    margin: auto;
}

.home-bottom {
    justify-content: center;
    height: 10%;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 2%  2%  2% 2%;
    padding-top: 10px;
    gap: 2%;
    color: #B56576;
    margin-right: 30px; 
}  

a {
    text-decoration: none;
}

/* LIGHT / DARK THEME BUTTON */
.theme-button {
    z-index: 999999;
    position: fixed;
    right: 0;
    top: 100px;
    background: var(--transparent-color-01);
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-sizing: var(--box-shadow);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-button .fa-sun, .theme-button.sun .fa-moon  {
    display: none;
}

.theme-button.sun .fa-sun {
    display: block;
    color: var(--first-color);
}

.theme-button.sun:hover .fa-sun:hover, .fa-moon:hover {
    color: var(--second-color);
}


/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
    background: var(--multi-color);
    
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    /* background: linear-gradient(-45deg,  #e73c7e, #23a6d5); */
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--first-color);
}

/* SCROLL BUTTON */
/* .scroll-button {
    z-index: 999999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: var(--first-color);
    color: white;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
} */

/* THEME */
.dark-theme {
    /* THEME COLORS */
    --first-color: white;
    --second-color: #121212;
    --third-color: #8571AA;


    /* BACKGROUND COLORS */
    --body-bg-color: #121212;
    --card-bg-color:  rgba(211, 211, 211, 0.1);;
    --modal-bg-color: #141414;
    --bg-transparent-color: rgba(255, 255, 255, 0.1);
    --transparent-color-01: rgba(255, 255, 255, 0.1);
    /* --transparent-color-02: rgba(255, 255, 255, 0.1); */
    --line-color: #454f6b;


    /* COLOR FILTER */
    --color-filter: invert(0);

    /* BRIGHTNESS FILTER */
    --brightness-filter: .85;

    /* SCROLL BAR COLORS */
    --scroll-bar-color: #8571AA;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}

:target:not([class='home']) {
    padding-top: 50px;
    margin-top: -50px;
}

.nav-open {
    color: var(--second-color);
    display: none;
}

.nav-close {
    display: none;
}

@media (max-width:900px) {

    .navigation {
        color: var(--first-color);
    }

    .nav-box {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--transparent-color-01);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }

    .nav-box.active {
        visibility: visible;
        opacity: 1;
    }

    .nav-items {
        position: relative;
        background: var(--modal-bg-color);
        width: 600px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        color: var(--first-color);
        transform: translateY(-50px);
        transition: .3s ease;
        color: var(--second-color);
        gap: 25px;
    }

    .nav-box.active .nav-items {
        transform: translateY(0);
    }

    .nav-items a{
        margin: 15px 50px;
        color: var(--first-color);
        font-weight: bolder;   
    }

    .nav-items a.active{
        background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text; 
    }

    .nav-items a:hover{
        background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    }

    .nav-close {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
        color: var(--first-color);
    }

    .nav-open {
        display: block;
        background-position: center;
        padding-right: 25px;
        cursor: pointer;
        font-size: x-large; 
    }

}

@media (min-width:900px) {
    .nav-open {
        display: none;
    }
}


/* APP SLIDESHOW */
/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  /* position: relative; */
  margin: auto;
    /* z-index: -10; */
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 800px;
  /* border: solid; */
}

/* Next & previous buttons */
.prev, .next {
  /* cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; */
  /* z-index: +10; */

  color: white;
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: var(--second-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 30%;
  border-radius: 35% 0 0 35%;
  height: fit-content;
  margin-top: 260px;
  background-color: var(--card-bg-color);
  background: var(--multi-color);
  border: solid;
  /* background-color: var(--multi-color); */


}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0 35% 35% 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--first-color);
  color: var(--first-color);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
  color: var(--second-color);
  border: solid;
}

.dot.active, .dot:hover {
  background: var(--multi-color);
  color: var(--first-color);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}