body {
    font-family: 'sans-serif';
    background-color: white;
    width: 95%;
    padding: 2%;
}

hr {
    height:10px;
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

.text {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.secs {   
    display: flex;
    flex-direction: column;
}

.purple {
    /* color: rgb(164, 149, 195); */
    color: #8571AA;
}

section {
    box-sizing: border-box;
    margin-bottom: 15px;
    background: white;
}

section *{
    display: flex;   
}

.mypic {  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid black;
    border-width: 6px;
    margin-bottom: 25px;
}

.recs {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1%;
    height: 100%;
    width: 275px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: none;   
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.white {
    color: white;
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: medium;
}

.recheader {
    padding-top:100px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typewrite {
    color: #8571AA;
    margin-left: -2%;
    height: 30px;
    padding: none;
}


.name {
    font-weight: 600;
    font-size: 36pt;
    font-family: Georgia;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -2%;
    
}
.first {
    color: black;
    padding-right: .2em;
}
.last {
    /* color: rgb(164, 149, 195); */
    /* color: #6D597A; */
    color: #8571AA;

}


.buttons {
    padding: 2%  2%  2% 0%;
    gap: 2%;
    /* color: rgb(164, 149, 195); */
    color: #B56576;
    margin-left: -2%;
    margin: -3% -2% -2% -2%;
}   

.fa-linkedin, .fa-github, .fa-envelope {
    color: rgb(164, 149, 195);
    color: #E4E0EE;
    color: #8571AA;
    background: black;
    height: 20px;
    width: 40px;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    border-radius: 25%;    
}


.navigation {
    color: black;
}

.apps {
    width: 98%;
    min-height: 70%;
}

.app-description {
    max-width: 20%;
    display: flex;
    flex-direction: column;
}

.app-button {
    height: 3em;
}

.dininginformant {
    width: 100%;
    height: 600px;
}

.app-show {
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.di1 {
    /* width: 300%; */
    max-width: 300px;
    height: fit-content;
    margin-right: 2%;
    align-items: center;
}

.ig1 {
    top: 0;
    width: 400%;
    max-width: 100%;
    height: fit-content;
    
  
}

.zendog {
    margin-left: 2%;
    width: 100%;
}

.zd1 {
    width: 300%;
    max-width: 400px;
    height: fit-content;
    margin-right: 2%; 
}

.ig-follow-div {
    width: 150px; 
height: 150px; 
overflow: hidden;
    
}

.ig-follow {
    margin: 0px -150px 0px 0px -150px;
}

.suggestionsforyou{
    font-weight: bolder;
    color: rgb(88, 88, 88);
    padding-bottom: 2%;
}

.toprec {
    padding-top: 3%;;
}

.midrec {
    flex-direction: column;
    height: 5vh;
    width: 98%;  
}

.recname {
    font-weight: bolder;
}

.suggested {
    font-size: 70%;
    width: 100%;
}


.story{
    flex-direction:column;
    width: 10%;
    padding-left: 1%;
    padding-right: 1%;  
}

.cards {
    display: flex;
    flex-direction: column;
    padding:1%;
    top: 0;
    left: 0;
}

.top {
    width: 100%;
}

.user {
    padding-left: 3%;
    font-family: 'Comfortaa', cursive;
}

.ellipse {
    width: 100%;
    padding-right: 4%;
    justify-content: flex-end;
    padding-top: 29px;
}

.postpic {
    width:100%;
    height: 60%;
}

.icons {
    width: 100%;
    padding-top: 1%;
}

.icons * {
    padding-right: 2%;
}

.middle {
    flex-direction: column;
}

.middleleft {
    padding-left: 3%;
}

.middleright {
    justify-content: flex-end;
    width: 100%;
    padding-right: 3%;
}

.likes {
    font-size: 65%;
    padding-left: 3%;   
    font-weight: bolder;
}

.comments {
    flex-direction: column;    
}

.comment1  {
    padding-top: 1%;;
}

.comment2 {
    padding-top: 1%;;
}

.usercaption {
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bolder;
}

.morecaption {
    color:blue;
}

.user1comments {
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bolder;
}

.user2comments {
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bolder;
}

.daysago {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    color: gray;
}

.bottom {
    padding-left: 3%;
    padding-top: 1%;
}

.addcomment {
    padding-left: 3%;
    color: gray;
    width: 85%;
}

.postbutton {
    padding-left: 3%;
    color: blue;
}

a {
    text-decoration: none;
    color: blue;
  }

@media (max-width:900px) {
    .recs {
        display:none;
    }
    
}

@media (min-width:900px) {
    .cards, .content {
        margin-left: 275px;
        /* width:80%; */
    }
    
}