:root {
    /* THEME COLORS */
    --first-color: black;
    --second-color: white;
    --third-color: #8571AA;
    --third-color: ;

    /* HOVER COLOR */
    --hover-color: #8571AA;

    /* BACKGROUND COLORS */
    --body-bg-color: #fefefe;
    --card-bg-color: white;
    --modal-bg-color: white;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(0, 0, 0, 0.1);
    --line-color: #d7d7d7;


    /* COLOR FILTER */
    --color-filter: invert(1);

    /* BOX SHADOW */
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /* FONT SIZE */
    --small-font-size: 0.9em;
    --normal-font-size: 1.0em;

    /* SCROLL BAR COLORS */
    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;

}

.html {
    overflow-x: hidden;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        color: #e73c7e;
    }
    50% {
        background-position: 100% 50%;
        color: #23a6d5;
    }
    100% {
        background-position: 0% 50%;
        color: #e73c7e
    }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1%;
    width: 100%;
    height: 60px;
    background: linear-gradient(-45deg, #e73c7e, #23a6d5);
    /* background-size: 400% 400%; */
    /* animation: gradient 15s ease infinite; */
    margin: none;   
    display: flex;
    flex-direction: row;
    align-items: center;
    /* color: white; */
    font-weight: lighter;
    font-size: medium;
    font-family: 'Open Sans', serif;
}

.header-left {
    width: 50%;
    /* border: solid; */
    color: var(--second-color);
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 25px;
    

}

.header-right {
   /* margin-left: 70%; */
   width: 50%;
   /* border: solid; */
   display: flex;
  
   /* align-items: right; */
   justify-content: right;
   font-weight: 500;
   color: var(--second-color);
}

.header-right a:hover {
    color: black;
}

.navigation {
    color: white;
    margin-right: 25px;
    /* border: solid; */
}



body {
    font-family: 'sans-serif';
    font-family: 'Open Sans', serif;
    background-color: var(--body-bg-color);

    width: 96%;
    padding: 2%;
    margin-top: 70px;
    overflow-x: hidden;
}

hr {
    height:15px;
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
    /* background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    /* border-radius: 25%; */
    width: 100%;
    overflow-x: hidden;
    margin-left: -4%;
    border: solid;

  }

  href {
    color: white;
  }

  h2 {
    font-family: 'Open Sans', serif;
  }

  button {
    font-family: 'Open Sans', serif;
  }

.text {
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', serif;
}

.secs {   
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', serif;
}

.purple {
    /* color: rgb(164, 149, 195); */
    color: #8571AA;
}

section {
    box-sizing: border-box;
    margin-bottom: 15px;
    background: white;
    font-family: 'Open Sans', serif;
    /* border-radius: 25%; */
}


section *{
    display: flex;   
}

.mypic {  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid  #8571AA;;
    border-width: 6px;
    margin-bottom: 25px;
}





.white {
    color: white;
    /* font-family: 'Raleway'; */
    font-weight: lighter;
    font-size: medium;
    font-family: 'Open Sans', serif;
}






.name {
    font-weight: 600;
    font-size: 36pt;
    /* font-family: georgia; */
    font-family: 'Open Sans', serif;
    /* font-family: roboto; */
    font-display: ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin: -2%; */
    
}
.first {
    color: var(--second-color);
    padding-right: .2em;
}
.last {
    /* color: rgb(164, 149, 195);
    color: #6D597A; */
    
    /* background-color: black; */
    /* linear-gradient(, #ee7752, #e73c7e, #23a6d5, #23d5ab) */
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    /* animation: gradient 1s infinite; */
    animation: gradient 5s ease infinite;
    /* background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */

}


 

.fa-linkedin, .fa-github, .fa-envelope {
    color: rgb(164, 149, 195);
    color: #E4E0EE;
    background: #8571AA;
    color: black;
    height: 20px;
    width: 40px;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    border-radius: 25%;    
}




.apps {
    width: 98%;
    min-height: 70%;
}

.app-description {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* background: #8571AA; */
    /* background: red;
    backdrop-filter: blur(15px); */
    /* background: rgba(133, 113, 170, 0.5); */
    
    background: rgba(211, 211, 211, 0.5);
    /* backdrop-filter: blur(15px); */
    border-radius: 25px;
}

.app-item {
    display: flex;
    flex-direction: column;
}

.app-description .app-item span{
    display: flex;
    flex-direction: column;
    color: black;
    /* background: ; */
    font-size: 16px;
    padding: 5px 30px;
    line-height: 60px;
    
}

.app-description .app-item span:hover{
    background: #8571AA;
    /* transition: 0.3s ease; */
}

.app-item .app-about{
    /* background: #8571AA;
    transition: 0.3s ease;
    margin-left: 5px; */
    display: none;
    width: 98%;

}

.app-about {
    display: flex;
}

.app-button {
    height: 3em;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
    text-align: center;
    /* border: solid; */
    width: fit-content;
    /* display: flex;
    flex-direction: column; */
}

.fa-caret-down {
    padding-top: 8%;
}

.app-item-top {
    display: flex;
    flex-direction: row;
    
}

.dininginformant {
    width: 100%;
    height: 600px;
}

.app-container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}


.app-show {
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.di1 {
    /* width: 300%; */
    max-width: 300px;
    height: fit-content;
    margin-right: 2%;
    align-items: center;
}

.ig1 {
    top: 0;
    width: 400%;
    max-width: 100%;
    height: fit-content;
    
  
}

.zendog {
    margin-left: 2%;
    width: 100%;
}

.zd1 {
    width: 300%;
    max-width: 400px;
    height: fit-content;
    margin-right: 2%; 
}

.skills {
    
}

.skills-all {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    
}

.skills-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    width: 75px;
}

.skills-icon {
    background-color: #8571AA;
    color: black;
    height: 35px;
    width: 35px;
    font-size: x-large;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 25%;    
}

.coursework {
    display: flex;
    flex-direction: column;

    font-weight: bold;
    font-size: large;
    /* flex-wrap: wrap; */
}

.all-courses {
    display: flex;
    flex-direction: column;
}

span {
    height: fit-content;
    padding-right: 5px;
    /* border: solid; */
}

.course {
    width: 25%;
    /* border: solid; */
    flex-wrap: nowrap;
    height: 45px;
    
}

.coursename {
    height: fit-content;
    padding-top: 3px;
    /* border: solid; */
    /* color: red; */
}

#content ul li {
    list-style-Type: none;
    padding: 0 0 4px 23px;
    background: url(https://www.computerhope.com/cdn/arrow.png) no-repeat left center;
    color: #8571AA;
   }

.home {
    min-height: 85vh;
    border: solid;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
}

.home-top {
    /* position: relative; */
    
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: row;
    /* padding:1%; */
    top: 0;
    left: 0;
    height: 900%;
    width: 100%;
    border: solid;
}

.home-left {
    width: 10%;
}

.home-middle {
    width: 50%;
    /* border: solid; */
    display: flex;
    flex-direction: column;
}

.home-right {
    width: 300px;
    height: 300px;
    /* border: solid; */
    border-radius: 50%;
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
    /* background-size: 400% 400%; */
    /* animation: gradient 15s ease infinite; */

}

.home-bottom {
    justify-content: center;
    height: 10%;

}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 2%  2%  2% 2%;
    gap: 2%;
    /* color: rgb(164, 149, 195); */
    color: #B56576;
    /* margin-left: -2%; */
    /* margin: -3% -2% -2% -2%; */
}  


a {
    text-decoration: none;
  }

/* LIGHT / DARK THEME BUTTON */
.theme-button {
    z-index: 999999;
    position: fixed;
    right: 0;
    top: 100px;
    background: var(--transparent-color-01);
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-sizing: var(--box-shadow);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-button .fa-sun {
    display: none;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
    background: var(--scroll-bar-color);
    
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    background: linear-gradient(-45deg,  #e73c7e, #23a6d5);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* SCROLL BUTTON */
/* .scroll-button {
    z-index: 999999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: var(--first-color);
    color: white;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
} */

/* COMMON STYLES */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* THEME */
.dark-theme {
    /* THEME COLORS */
    --first-color: white;
    --second-color: #121212;
    --third-color: #8571AA;


    /* BACKGROUND COLORS */
    --body-bg-color: #121212;
    --card-bg-color: #132347;
    --modal-bg-color: #102048;
    --bg-transparent-color: rgba(255, 255, 255, 0.1);
    --transparent-color-01: rgba(255, 255, 255, 0.1);
    /* --transparent-color-02: rgba(255, 255, 255, 0.1); */
    --line-color: #454f6b;


    /* COLOR FILTER */
    --color-filter: invert(0);

    /* SCROLL BAR COLORS */
    --scroll-bar-color: #c1ceff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}

@media (max-width:900px) {
    /* .recs {
        display:none;
    } */
    
}

@media (min-width:900px) {
    /* .cards, .content {
        margin-left: 275px;
        
    } */
    
}